#(project
  (#(meta
     (#(name ljson)
      #(description "An LFE library which provides a unified JSON experience.")
      #(version "0.3.1")
      #(keywords ("LFE" "Lisp" "Library" "JSON"))
      #(maintainers
        ((#(name "Duncan McGreggor") #(email "oubiwann@gmail.com"))))
      #(repos (#(github "lfex/ljson")))))))
