{erl_opts, [debug_info, {src_dirs, ["test"]}]}.
{lfe_first_files, []}.
{deps_dir, ["deps"]}.
{eunit_compile_opts, [
   {src_dirs, ["test"]}
  ]}.
{deps, [
   {lfe, "0.9.0", {git, "git://github.com/rvirding/lfe.git", {tag, "v0.9.0"}}},
   %%{lutil, ".*", {git, "https://github.com/lfex/lutil.git", {tag, "0.4.1"}}},
   {lutil, ".*", {git, "https://github.com/thorgisl/lutil.git", "master"}},
   {ltest, ".*", {git, "git://github.com/lfex/ltest.git", {tag, "0.4.0"}}},
   {jiffy, ".*", {git, "git://github.com/davisp/jiffy.git", {tag, "0.13.2"}}},
   {mochiweb, ".*", {git,
     "git://github.com/mochi/mochiweb.git", {tag, "v2.9.2"}}},
   {ej, ".*", {git,
     "git://github.com/seth/ej.git", "c683084665e1220616e611639fb13797b91281c6"}}
  ]}.
