{deps, [
  {lfe, {git, "https://github.com/lfe/lfe.git", {branch, "master"}}},
  {lutil, {git, "https://github.com/lfex/lutil.git", {branch, "release/0.13.x"}}},
  {jsx, {git, "https://github.com/talentdeficit/jsx.git", {tag, "v2.9.0"}}},
  {mochiweb, {git, "https://github.com/mochi/mochiweb.git", {tag, "v2.19.0"}}}
  ]}.

{plugins, [
  {rebar3_lfe, "0.4.0"}
  ]}.

{provider_hooks, [
   {pre, [{compile, {lfe, compile}}]}
  ]}.

{profiles, [
   {test, [
     {deps, [
       {ltest, {git, "https://github.com/lfex/ltest.git", {branch, "release/0.13.x"}}}]},
     {eunit_opts, [verbose]},
     {erl_opts, [{src_dirs, ["src", "test"]}]},
     {eunit_compile_opts, [{src_dirs, ["src", "test"]}]}
    ]}
  ]}.
