{erl_opts, [debug_info, {src_dirs, ["test"]}]}.

{lfe_first_files, []}.

{eunit_compile_opts, [
   {src_dirs, ["test"]}
  ]}.

{deps, [
   {lfe, ".*", {git, "git://github.com/rvirding/lfe.git", {tag, "v0.10.1"}}},
   {lutil, ".*", {git, "https://github.com/lfex/lutil.git", {tag, "0.7.1"}}},
   {ltest, ".*", {git, "git://github.com/lfex/ltest.git", {tag, "0.7.1"}}},
   {jsx, ".*", {git, "git://github.com/talentdeficit/jsx.git", {tag, "v2.7.1"}}},
   {mochiweb, ".*", {git,
     "git://github.com/mochi/mochiweb.git", {tag, "v2.12.0"}}}
  ]}.

{plugins, [
   {'lfe-compile', ".*", {git, "https://github.com/lfe-rebar3/compile.git", {tag, "0.2.2"}}}
  ]}.

{provider_hooks, [
   {pre, [{compile, {lfe, compile}}]}
  ]}.
